.ip-promo {
  position: relative;
}
.ip-promo__wrap {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(0,-50%);
  z-index: 2;
  background: rgba(255,255,255,.8);
  width: 340px;
  padding: 30px;
}
  @media (max-width: 640px) {
    .ip-promo__wrap {
      position: relative;
      top: unset;
      left: unset;
      right: unset;
      bottom: unset;
      transform: unset;
    }
  }
.ip-promo__title {
  margin: 0 0 20px 0;
  font-size: 26px;
  line-height: 29px;
  font-weight: bold;
  color: #2f2d18;
}
.ip-promo__btn {
  /* bootstrap */
  display: inline-block;
  color: #fff;
  background: #4ac54a;
  padding: 12px 22px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 0;
  outline: 0;
  border-radius: 4px;
  box-shadow: 5px 5px 9px 0 rgb(0 0 0 / 10%);
  transition: all ease .5s;
}
.ip-promo__btn_accent {
  color: #2f2d18;
  background: #f4e034;
}
.ip-promo__label {
}
.ip-promo__list {
  margin: 0 0 25px 0;
  list-style: none;
  padding: 0;
  line-height: 19px;
}
.ip-promo__list li {
  margin: 12px auto;
  padding-left: 20px;
  background: url(images/ip-promo__list.png) no-repeat left 4px;
}
.ip-promo__img {
  position: relative;
  z-index: 1;
  outline: 1px rgba(255,255,255,.5) solid;
  outline-offset: -10px;
}
@media (max-width: 640px) {
  .ip-promo__img {
      display: none;
  }
}
